
<div class="jumbotron">
  <h1>Times Of India !</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
  </p>

</div>

<div class="row marketing">
  <label class="col-sm-2 control-label">Category</label>
  <select class="form-control" id="cat_val"ng-model="selectedItem" ng-options="operator.name for operator in category " ng-change="update()" ></select>  </div>

  <h1>News</h1>
  <hr/>
  <div>
    <div class="" ng-repeat="(key, value) in filterNews">
      <h2 ><i>{{value.title}}</i></h2>
      <hr/>
      <p ng-bind-html="value.description" class="lead" ></p>
      <hr/>
    </div>

    <!-- regarding paging-->
    <ul class="pagination" ng-show="newsStatus">
      <li ng-class="{'disabled': start==current}"><a href="#" ng-click=" start==current || changePage(n-1)">&laquo;</a></li>
      <li ng-repeat="n in  paging" ng-class="{'active':current==n}">
        <a ng-click="changePage(n)" >{{n+1}} <span ng-if="current==n"class="sr-only">(current)</span> </a>
      </li>
      <li ng-class="{'disabled': last == current}"><a href="#" ng-click="last == current || changePage(n+1)" >&raquo;</a></li>
    </ul>
  </div>